// breakpoints for media
$breakpoints: (
  "xs-phone": 320px,
  "phone": 480px,
  "tablet": 768px,
  "desktop": 1024px,
  "widescreen": 1200px
);

//fonts
@import "basic-settings/variables";
@import "common-settings/icons";
@import "common-settings/include-media";
@import "common-settings/normalize";
@import "common-settings/fonts";
@import "basic-settings/reset";
@import "basic-settings/heading-styles";

body {
  background: $base-background-color;
  font: #{$base-font-size}/#{$base-line-height} $base-font-family;
  min-width: $base-min-width;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  color: gray;
  line-height: 24px;
  font-family: $base-font-family;
}

a {
  color: $base-link-color;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
img,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
}

#wrapper {
  position: relative;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1270px;
  padding: 0 15px;
}

.logo {
  position: relative;
  z-index: 33;
  max-width: 150px;
  padding: 10px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(172, 55, 55);
  }
}

.navigation {
  .drop {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    @include media('>=tablet') {
      opacity: 1;
      display: block;
      visibility: visible;
      position: static;
    }
    ul {
      li {
        line-height: 1.2;
        font-size: 15px;
        @include media('>=desktop') {
          font-size: 18px;
        }
        a {
          position: relative;
          padding: 54px 15px;
          display: inline-block;
          vertical-align: top;
          transition: ease-in-out .5s;
          text-transform: uppercase;
          color: rgb(218, 213, 185);
          font-weight: bold;
          &:hover {
            color: #fff;
	          text-decoration: none;
          }
        }
      }
    }
  }
}


// ~~~~ hover menu ~~~~~~

ul li a span {
	position: absolute;
	width: 25%;
	height: 100%;
	background-color: rgb(172, 55, 55);
	z-index: -1;
	transform-origin: top;
	transform: scaleY(0);
	transition: transform .5s;
}

ul li a:hover span {
	transform-origin: bottom;
  transform: scaleY(1);
  position: absolute;
  top: 0;
}
ul li a span:nth-child(1) {
	left: 0;
  transition-delay: 0s;
  position: absolute;
  top: 0;
}
ul li a span:nth-child(2) {
	left: 25%;
  transition-delay: 0.15s;
  position: absolute;
  top: 0;
}
ul li a span:nth-child(3) {
	left: 50%;
  transition-delay: 0.3s;
  position: absolute;
  top: 0;
}
ul li a span:nth-child(4) {
	left: 75%;
  transition-delay: 0.45s;
  position: absolute;
  top: 0;
}

// ~~~~~~~~~~

main {
  background-image: url('../../img/banner2.jpg');
  background-size: cover;
  height: 100vh;
  .main-wrapper {
    height: 100vh;
    background-color: rgba($color: rgb(151, 126, 58), $alpha: 0.5);
  }
}


//~~~~~~~~~~~~~


.menu-opener {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 4;
  @include media(">=tablet") {
    display: none;
  }
  &:after,
  &:before {
    content: "";
  }
  &:after,
  &:before,
  & span {
    position: absolute;
    height: 4px;
    width: 26px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(172, 55, 55);
    top: 18px;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
  }
  &:after {
    top: 12px;
  }
  &:before {
    top: 6px;
  }
  .menu-active &::after {
    opacity: 0;
  }
  .menu-active &::before {
    top: 12px;
    left: 2px;
    transform: rotate(45deg);
  }
  .menu-active & span {
    top: 12px;
    left: 2px;
    transform: rotate(-45deg);
  }
}
.menu-active {
  height: 100vh;
  overflow: hidden;
  .drop {
    visibility: visible;
    opacity: 1;
    position: absolute;
    width: 100%;
    top: 129px;
    left: 0;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    background-color: rgba($color: rgb(151, 126, 58), $alpha: 0.8);
    ul {
      li {
        display: block;
        a {
          padding: 15px;
          color: rgb(172, 55, 55);
        }
      }
    }
  }
}






